.img_position {
    margin-top: 21vw;
    display: inline-block;
    position: relative;
    background: #fefefe;
    box-sizing: border-box;
    clip-path: ellipse(65% 97% at 51% 3%);
    clear: both;
}

.mountainPic {
    position: absolute;
    margin-top: 15vh;
    transform: scale(2);
    clip-path: ellipse(65% 97% at 51% 3%);
    overflow: hidden;
    width: 100%;
    clear: both;
}

.clendenin {
    width: 100%;
    position: absolute;
}

.welcome {
    width: 100vw;
    height: 46vw;
    position: relative;
    font-weight: 900;
    padding-top: 5vw;
    padding-bottom: 12vw;
    color: #dd4205;
    text-align: center;
    -webkit-text-stroke: 0.1rem white;
    font-size: 11.5vw;
    font-family: 'Open Sans', sans-serif;
}

.poligon {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    background: red;
    box-sizing: border-box;
    -webkit-clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
    clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
}

.poligon img {
    position: absolute;
    top: 2px;
    /* equal to border thickness */
    left: 2px;
    /* equal to border thickness */
    width: 146px;
    /* container height - (border thickness * 2) */
    height: 146px;
    /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
    clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
}

.assessment {
    color: #147694;
    text-align: center;
    font-size: 10vw;
    padding-top: 5vw;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5vw;
}

.greyHr {
    background-color: #bfbfbf !important;
}

.dGreyHr {
    background-color: #5b5b5b;
    height: 1vw;
}

.cardContainer {
    background-color: #199dc4;
    height: auto;
    padding-bottom: 5vw;
}

.dBlueHr {
    background-color: #147694;
    height: 1vh;
}

.ltBlueHr {
    background-color: #199dc4;
}

.largeCard {
    background-color: #147694;
    height: auto;
    margin-top: 2vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vw;
    padding-bottom: 6vh;
    font-family: 'Open Sans', sans-serif;
}

.whtText {
    color: #fff;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.lrgWhteText {
    font-size: 2.7rem;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.smWhteText {
    font-size: 1.6rem;
}

.whtLink {
    color: #fff;
}

a:hover {
    cursor: pointer;
}

.alignRight {
    text-align: right;
}

.whtCrdContainerCat {
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
}

.whtCrdContainerBird {
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
}

.bold {
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-size: 2rem;
}

.blueText {
    text-align: center;
    color: #147694;
    text-decoration: none;
}

.whiteCardImgContainerCat {
    position: relative;
}

.whiteCardImgContainerBird {
    position: relative;
}

.whiteCardImgCat {
    width: 100%;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    clip-path: inset(27% 0 28% 0 round 3% 3% 0 0);
    overflow: hidden;
    margin-top: -29%;
    margin-bottom: -28%;
}

.whiteCardImgBird {
    width: 100%;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    clip-path: inset(4% 0 44% 0 round 3% 3% 0 0);
    overflow: hidden;
    margin-top: -3.5%;
    margin-bottom: -36%;
}

.blueTextSmall {
    font-size: 1.5rem;
}

.clickAndGo {
    bottom: 0;
}

.marginWhtCrd {
    margin-bottom: 10vw;
}

.constPanel {
    color: #147694;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

.constH1 {
    font-size: 2.1rem;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.constText {
    font-size: 1.45rem;
}

.hrThin {
    height: 0.25vw;
}

.listH1 {
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.thingCont {
    display: flex;
}

.things {
    height: 17vw;
}

.thinHr {
    height: 1vh;
}
.assessmentLarge {
    display: none;
}

@media only screen and (min-width: 1224px) {
    /* Styles */
    .top_nav {
        width: 100%;
    }
    .nav li .dropdown-menu a {
        min-width: 7vw !important;
    }
    .welcome {
        width: 93vw;
    }
    .mountainPic {
        position: absolute;
        transform: scale(1.5);
        overflow: hidden;
        width: 15%;
        margin-top: 8vw;
        margin-left: 60vw;
        clip-path: ellipse(55% 85% at 50% 13%);
    }
    .img_position {
        margin-top: 0;
        display: inline-block;
        position: relative;
        background: #fefefe;
        box-sizing: border-box;
        clip-path: ellipse(65% 97% at 51% 3%);
    }
    br {
        display: none;
    }
    .assessmentLarge {
        display: block;
        color: #147694;
        text-align: left;
        font-size: 1.9vw;
        padding-top: 0vw;
        font-weight: 900;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 0;
    }
    .assessment {
        display: none;
    }
    .animalCardContainer {
        display: flex;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    .whiteCardImgContainerCat {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .whiteCardImgContainerBird {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .lrgWhteText {
        font-size: 1.5vw;
    }
    .smWhteText {
        font-size: 1.15vw;
    }
    .marginWhtCrd {
        margin-bottom: 1vw;
    }
    .whiteCardImgBird {
        min-height: 20.5vw;
        clip-path: inset(4% 0 44% 0 round 2vw 2vw 0 0);
    }
    .whiteCardImgCat {
        min-width: 22vw;
        clip-path: inset(27% 0 28% 0 round 2vw 2vw 0 0);
    }
    .whtCrdContainerBird {
        flex: 1;
        border-radius: 2vw !important;
        margin-left: 0.5vw !important;
    margin-right: 0.5vw !important;
    min-width: 22vw;
    }
    .whtCrdContainerCat {
        flex: 1;
        border-radius: 2vw !important;
        margin-left: 0.5vw !important;
    margin-right: 0.5vw !important;
    }
    .constPanel {
        width: 75vw;
    }
    .constText {
        font-size: 1em;
    }
    .bold {
        font-size: 1.5em;
    }
    .blueTextSmall {
        font-size: 1em;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .bottomContainer {
        display: flex;
    }
    .flex1 {
        flex: 1;
        margin-right: 1vw;
    }
    .listH1 {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .things {
        height: 9vw;
    }
}